.h5 {
    text-align: center;
    color: $color-black;
    padding: 6rem;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
}

.h6 {
    text-align: left;
    color: $color-black;
    padding: .5rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;

}

.pismo {
    text-align: left;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
}

.footer {
    max-width: 100%;
    background-color: $color-primary-dark;
    
}

.footerparagraph {
    color: $color-white;
    text-align: left;
    float: left;
}

.paragraf {
    text-align: right;
    color: $color-white;
}